###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
serveur-*/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.vscode/sftp*
/.docker/database/mariadb
deploy
database/*
!database/sql/
*/node_modules/
/node_modules/
*/dist/
